<!DOCTYPE html>
<html lang="en">

<body style="background-color: white;">
<div class="wrapper">
    <br>
    <br>
    <h1 style="text-align: center; font-size: 300%; font-weight:normal; font-family: Arial, sans-serif;">Room choice</h1>
    <div class="container">
        <h2 style="text-align: center; font-size: 170%; font-weight:normal; font-family: Arial, sans-serif;">You can choose the rooms you want to sign up for.</h2>
        <center>
            <p>Currently logged as: {{ current_user.name }} {{ current_user.surname }}</p>
            <br>
            <b>Choose the room:</b>

            <form method="POST" action="{{ url_for('addApplication') }}">
                <select name='room_id' >
                    {% for room in rooms %}
                        <option value= "{{room.id}}" SELECTED>room: {{room.name}}, capacity: {{room.capacity}}, price per month: {{room.price_per_month}}</option>"
                    {% endfor %}
                </select>
                <br>
                <br>
                <label for="from_date">Accommodation from:</label>
                <input type="date" id="from_date" name="from_date">
                <br>
                <label for="to_date">Accommodation to:</label>
                <input type="date" id="to_date" name="to_date">
                <br>
                {% if message %}
                <p style="text-align:center;color:red; font-size: 100%; font-weight:normal; font-family: Arial, sans-serif;">{{message}}</p>
                {% endif %}
                <br>
                <br>
                <button style="font-size: larger;" type="submit" value="Submit">Apply for room</button>
            </form>
        </center>
    </div>
</div>

</body>
</html>
