{% extends 'base.html' %}

{% block head %}
    <title>Pis project</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center; font-size: 300%;">Welcome to the accommodation system!</h1>
        <h2 style="text-align: center; font-size: 170%;">You can now make your application.</h2>
        <center>
            <p>Currently logged as: {{ current_user.name }} {{ current_user.surname }}</p>
            {% if rooms_count < 5 %}
            <br>
            <p>You now have {{ rooms_count }} applications.</p>
            <button type="button" style=" font-size: larger;" onclick="window.location.href='{{ url_for( 'application' ) }}';">Make application</button>
            {% else %}
            <p>You now have 5 applications. Wait for them to be resolved.</p>
            {% endif %}
            <div class='container'>
                <center>
                    <br>
                    <br>
                    <b style="font-size: 130%;">Your applications</b>
                    <br>
                    <body>
                    <table style="width:50%">
                        <tr>
                            <th>Room name</th>
                            <th>Capacity</th>
                            <th>Price for month</th>
                            {% for room in rooms %}

                        <tr>
                            <td> {{ room.name }} </td>
                            <td> {{ room.capacity }}</td>
                            <td> {{ room.price_per_month }}</td>
                        </tr>
                            {% endfor %}
                        </tr>
                    </table>
                    </body>
                </center>
            </div>
        </center>
    </div>
{% endblock %}
